
<%= form_for @interestsetup do |f| %>  
 
<% if @interestsetup.errors.any? %>
<h4>Couldn't create Interest Rates</h4>
<ul>
<% @interestsetup.errors.full_messages.each do |error| %>
<li><%= error %></li>
<% end %>
</ul>
<% end %>

    <%= f.label :effectivefrom %>
    <%= f.date_select :effectivefrom, { :include_blank => true, :start_year => 1993, :end_year => 2014 } %>

    <%= f.label :effectiveto %>
    <%= f.date_select :effectiveto, { :include_blank => true, :start_year => 1993, :end_year => 2014 } %>

    <h3>Interest Rates</h3>

    <%= f.fields_for :interestrates do |ir| %>

    <%= ir.label :dayfrom %>
    <%= ir.text_field :dayfrom %>

    <%= ir.label :dayto %>
    <%= ir.text_field :dayto %>

    <%= ir.label :Rate %>
    <%= ir.text_field :rate %>

    <%= ir.label :Senior_Increment %>
    <%= ir.text_field :seniorincrement %> 
  
    <%= ir.label :Super_Senior_Increment %>
    <%= ir.text_field :superseniorincrement %>

    <%= ir.label :Widow_Increment %>
    <%= ir.text_field :widowincrement %>

    <% end %>

  <div>    
  </div>
    <%= f.submit "Open FD", class: "btn btn-primary" %>     
    <% end %>
  </div>
</div>



