
<%= form_for @interestsetup do |f| %>  
 
<% if @interestsetup.errors.any? %>
<h4>Couldn't create Interest Rates</h4>
<ul>
<% @interestsetup.errors.full_messages.each do |error| %>
<li><%= error %></li>
<% end %>
</ul>
<% end %>

    <%= f.label :effectivefrom %>
    <%= f.date_select :effectivefrom, { :include_blank => true, :start_year => 1993, :end_year => 2014 } %>

    <%= f.label :effectiveto %>
    <%= f.date_select :effectiveto, { :include_blank => true, :start_year => 1993, :end_year => 2014 } %>

    
<h3>Interest Rates</h3>
<%= f.fields_for :interestrates do |ir| %>
<table class='table condensed-table'>
<tr>
<td>
Days From
</td>
<td>
Days To
</td>
<td>
Rate
</td>
<td>
Senior Increment
</td>
<td>
Super Senior Increment
</td>
<td>
Widow Increment
</td>
</tr>
<tr>
<td><%= ir.text_field :dayfrom, :class => 'input-mini' %></td>
<td><%= ir.text_field :dayto, :class => 'input-mini' %></td>
<td><%= ir.text_field :rate, :class => 'input-mini' %></td>
<td><%= ir.text_field :seniorincrement, :class => 'input-mini' %></td>
<td><%= ir.text_field :superseniorincrement, :class => 'input-mini' %></td>
<td><%= ir.text_field :widowincrement, :class => 'input-mini' %></td>
</tr>
<tr>
<td><%= ir.text_field :dayfrom, :class => 'input-mini' %></td>
<td><%= ir.text_field :dayto, :class => 'input-mini' %></td>
<td><%= ir.text_field :rate, :class => 'input-mini' %></td>
<td><%= ir.text_field :seniorincrement, :class => 'input-mini' %></td>
<td><%= ir.text_field :superseniorincrement, :class => 'input-mini' %></td>
<td><%= ir.text_field :widowincrement, :class => 'input-mini' %></td>
</tr>
<tr>
<td><%= ir.text_field :dayfrom, :class => 'input-mini' %></td>
<td><%= ir.text_field :dayto, :class => 'input-mini' %></td>
<td><%= ir.text_field :rate, :class => 'input-mini' %></td>
<td><%= ir.text_field :seniorincrement, :class => 'input-mini' %></td>
<td><%= ir.text_field :superseniorincrement, :class => 'input-mini' %></td>
<td><%= ir.text_field :widowincrement, :class => 'input-mini' %></td>
</tr>
<tr>
<td><%= ir.text_field :dayfrom, :class => 'input-mini' %></td>
<td><%= ir.text_field :dayto, :class => 'input-mini' %></td>
<td><%= ir.text_field :rate, :class => 'input-mini' %></td>
<td><%= ir.text_field :seniorincrement, :class => 'input-mini' %></td>
<td><%= ir.text_field :superseniorincrement, :class => 'input-mini' %></td>
<td><%= ir.text_field :widowincrement, :class => 'input-mini' %></td>
</tr>
<tr>
<td><%= ir.text_field :dayfrom, :class => 'input-mini' %></td>
<td><%= ir.text_field :dayto, :class => 'input-mini' %></td>
<td><%= ir.text_field :rate, :class => 'input-mini' %></td>
<td><%= ir.text_field :seniorincrement, :class => 'input-mini' %></td>
<td><%= ir.text_field :superseniorincrement, :class => 'input-mini' %></td>
<td><%= ir.text_field :widowincrement, :class => 'input-mini' %></td>
</tr>

</table>
<% end %>
  <div>    
  </div>
    <%= f.submit "Create Setup", class: "btn btn-primary" %>     
    <% end %>
  </div>
</div>



