<h2>Fixed Deposit </h2>

<div> 
  <%= link_to "Open FD Account", fixeddeposits_new_path, class: "btn btn-primary" %> 
  <%= link_to "Interest Setup", interestsetups_new_path, class: "btn btn-primary" %> 
</div>
</br>

<h6 class= "alert alert-info"><%= page_entries_info @fixeddeposit %></h6>

<table cellpadding = "5" cellspacing ="5" >
  <tr>            
    <th>Opened On</th>
    <th>Customer Name</th>    
    <th>Deposit Amount</th> 
    <th>Customer Age</th>
    <th>Rate Of Interest</th>     
    <th>Periods(In Months)</th>
    <th>Monthly Interest</th>
    <th>Maturity Date</th>       
  </tr>
  <% @fixeddeposit.each do |f| %>
    <tr>                
      <td><%= f.openedon.strftime("%d/%m/%Y") %></td>
      <td><%= link_to f.customername, fixeddeposit_path(f) %></td>  
      <td><%= f.depositamount %></td>
      <td><%= f.age %></td>
      <td><%= f.rateofinterest %>%</td>
      <td><%= f.periods %></td>
      <td><%= f.interestamount %></td>
      <td><%= f.maturitydate.strftime("%d/%m/%Y") %></td>      
      <% end %></td>         
    </tr>  
</table>
<br/>

<%= will_paginate @fixeddeposit %>